<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Noticias.</title>
</head>
<body>
    <h1>Seção de Tecnologia.</h1>
    <p>Tecnologia é um produto da ciência e da engenharia que envolve um 
        conjunto de instrumentos, métodos e técnicas que visam a resolução de problemas. 
        É uma aplicação prática do conhecimento científico em diversas áreas de pesquisa.
    </p>

</body>
</html>